# Node
node_modules/
**/node_modules/

# IDE / tooling
.idea/
.vscode/
**/.vscode/

# Expo / Metro
.expo/
**/.expo/
.expo-shared/
expo-env.d.ts

# Native build folders
/android
/ios
**/android/
**/ios/

# Env files
.env
.env.*
*.env.local
apps/mobile/.env.local

# Certificates / secrets
*.p8
*.p12
*.key
*.keystore
*.mobileprovision

# Build output
.DS_Store
/dist
/web-build

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
